################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FootballApp/v15/Server/sqlite3/storage.ide-shm
/.vs/FootballApp/v15/Server/sqlite3/storage.ide-wal
