<!DOCTYPE html>
<html>
<head>
  <title>Football App</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="JWajs">

  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- Own styles -->
  <link rel="stylesheet" type="text/css" href="css/mystyles.css">

</head>
<body>
  <nav class="nav-extended blue-grey darken-4">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Football App</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Search</a></li>
        <li><a href="#">Add</a></li>
        <li><a href="#">Login</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Search</a></li>
        <li><a href="#">Add</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
    <div class="nav-content lime darken-2">
      <ul class="tabs tabs-transparent container">
        <li class="tab"><a href="#best-links">Best</a></li>
        <li class="tab"><a href="#all-links">All</a></li>
      </ul>
    </div>
  </nav>
  <div id="best-links" class="col s12"></div>
  <div id="all-links" class="col s12"></div>

  <header>
    
  </header>

  <main class="container" ng-app="footballApp">
      <div class="row">

        <!-- Link panel -->

        <div class="container col s12 m12 l9" ng-controller="postedLinksController">

          <!-- Card Template -->
          
          <div class="card blue-grey lighten-5" ng-repeat="link in linksList">
            <div class="row valign-wrapper">
              <div class="col s2 m3">
                <div class="row">
                  <div class="col s12 center-align">
                    <h4 class="rate orange-text">{{ link.votes }}</h4>
                  </div>
                  <div class="col s6 right-align">
                    <i class="material-icons green-text waves-effect waves-green" ng-click="thumbUp(link)">thumb_up</i>
                  </div>
                  <div class="col s6 left-align">
                    <i class="material-icons red-text waves-effect waves-red" ng-click="thumbDown(link)">thumb_down</i>
                  </div>
                </div>
              </div>
              <div class="card-content col s10 m9 blue-grey-text text-darken-1">
                
                <span class="card-title">
                <a ng-href="{{ link.url }}" class="light-green-text text-darken-3"><h5>{{ link.title }}</h5></a>
                </span>
                <p>{{ link.description }}</p>

                <div class="divider"></div>
                
                <a href="#" class="blue-grey-text text-darken-3">
                <i class="tiny material-icons">comment</i>{{ link.numOfComments }} comments</a>
                <p class="blue-grey-text text-lighten-2">published 10 minutes ago</p>

              </div>
            </div>
          </div>

          <!-- End Card -->

        </div>

        <!-- End link panel -->

        <!-- Latest popular & tag cloud panel -->

        <div class="col s12 m12 l3">

          <div class="row">

            <!-- Latest popular -->
            <div class="col s12 m6 l12">

              <ul class="collection with-header" ng-controller="linkController">
                
                <li class="collection-header"><h5 class="blue-grey-text text-darken-4">Latest popular</h5></li>
                
                <li class="collection-item" ng-repeat="link in linksList">
                  <a ng-href="{{ link.url }}" class="light-green-text text-darken-3"><p class="latest-popular-header">{{ link.title }}</p>
                  <div class="row">
                    <div class="col s3">
                      <p class="left orange-text rate-small">{{ link.votes }}</p>
                    </div>
                    <div class="col s9">
                      <a href="#" class="blue-grey-text text-darken-3">
                      <i class="tiny material-icons">comment</i>{{ link.numOfComments }} comments</a>
                    </div>
                  </div>
                </li>

              </ul>

            </div>
            
            <!-- End latest popular -->


            <!-- Tag cloud panel -->

            <div class="col s12 m6 l12">

              <ul class="collection with-header">
                
                <li class="collection-header"><h5 class="blue-grey-text text-darken-4">Tag cloud</h5></li>
                
                <li class="collection-item">
                  <a href="#" class="light-green-text text-darken-3">#lechpoznan
                  <a href="#" class="light-green-text text-darken-3">#ekstraklasa
                  <a href="#" class="light-green-text text-darken-3">#pogonszczecin
                  <a href="#" class="light-green-text text-darken-3">#poland
                  <a href="#" class="light-green-text text-darken-3">#marcinrobak
                  <a href="#" class="light-green-text text-darken-3">#ineastadion
                </li>
              </ul>

            </div>
            
          </div>

          <!-- End tag cloud -->

      </div>
  </main>

  <footer class="page-footer blue-grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Popular</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Category 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Category 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Category 3</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright blue-grey darken-4">
      <div class="container">
        © 2017 Copyright Jakub Wajs
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="js/footballApp.js"></script>

</body>
</html>